<div class="row" *ngIf="loading">
  <div class="col">
    <div class="alert alert-info text-center">
      <h1>
        Por favor, espera...
      </h1>
    </div>
  </div>
</div>
<div class="row" *ngIf="isError">
  <div class="col">
    <div class="alert alert-danger text-center">
      <h1>
        Se ha producido un error
      </h1>
    </div>
  </div>
</div>
<div class="card-columns" *ngIf="loaded">
  <div class="card" *ngFor="let usuario of usuarios">
    <img
      [src]="usuario.avatar"
      class="card-img-top"
      [alt]="usuario.first_name"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ usuario.first_name }} {{ usuario.last_name }}
      </h5>
      <p class="card-text">
        {{ usuario.email }}
      </p>
      <p class="card-text">
        <span class="text-muted">Id: {{ usuario.id }}</span>
      </p>
    </div>
  </div>
</div>
