<div class="card-columns">
  <div class="card" *ngFor="let usuario of usuarios">
    <img
      [src]="usuario.avatar"
      class="card-img-top"
      [alt]="usuario.first_name"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ usuario.first_name }} {{ usuario.last_name }}
      </h5>
      <p class="card-text">
        {{ usuario.email }}
      </p>
      <p class="card-text">
        <span class="text-muted">Id: {{ usuario.id }}</span>
      </p>
    </div>
  </div>
</div>
